<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h3>Chat App</h3>
    <input class="input" type="text" placeholder="Room name" id="room-name-input">
    <input class="input" type="text" placeholder="Username" id="username-input">
    <input class="input" type="password" placeholder="Password" id="password-input">
    <input type="button" value="submit">
</body>

</html>